
@{
    ViewBag.Title = "groupadmin";
}

<h2>groupadmin</h2>

@*<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="height:265px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Group Details </h4>
            </div>
            <div class="modal-body">
                <!-- /.box-header -->
                <form role="form" method="post" act ion="~/Home/groupadmin">
                    <div class="form-group">
                        <label>Member Name<span class="error"> * </span></label>
                        <select name="MEMBER_ID" id="MEMBER_ID_" class="form-control select2-container select2-container--default" dir="ltr" style="width: 100%;">
                            @foreach (var item in ViewBag.member)
                            {
                                <option value="@item.Id">@item.FIRSTNAME</option>
                            }
                        </select>
                    </div>


                    <div class="form-group ">
                        <div class="row">
                            <div class="col-xs-12">
                                <label>Group  Name</label>
                                <input type="text" name="GROUP_NAME" id="GROUP_NAME" required class="form-control" placeholder="Enter Group Name    ">
                            </div>
                        </div>
                    </div>


                    <div class="box-footer">
                        <input type="hidden" id="hdnid3" name="Id" />
                        <input type="submit" class="btn btn-success pull-right" value="Add Group" />
                    </div>
                </form>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</div>*@



<table id="fileTable" class="table table-bordered  dataTable" role="grid" aria-describedby="fileTable_info">

    <thead>
        <tr>
            <th>SR_No</th>
            <th>Created By</th>
            <th>Group Name</th>            
            <th>Created Date</th>           
            
            <th class="hide_me display_all">Action</th>
        </tr>
    </thead>

    <tbody>
        @{int i = 1;}
        @foreach (var item in ViewBag.group2)
        {
            <tr id="row_@item.Id">

                <td>
                    <span>@i</span>
                </td>
                <td>
                    @item.MEMBER_ID
                </td>

                <td>
                    @item.GROUP_NAME
                </td>
                              
                <td id="DOB_@item.Id">

                    @if (item.CREATED_DATE != null)
                    { 
                        @item.CREATED_DATE.ToShortDateString()
                    }
                    else
                    {
                        @item.CREATED_DATE
                    }
                </td>
             
                <td class="hide_me display_all">
                    @*<a onclick="OpenDialog(@item.Id)" data-toggle="modal" data-target="#myModal1" type="button"> <i class="fa fa-edit"></i></a>*@
                    <a style="display:inline" onclick="Delete(@item.Id,'del')"> &nbsp; <i class="fa fa-trash"></i> </a>
                </td>

            </tr>
            i++;
        }
    </tbody>
</table>


@*<script>
    function Delete(id, del) {
        if (confirm("Are you sure Delete this Record?")) {
            var deletes =
               {
                   ID: id,
                   group_del: del,
               }
            {
                $.ajax({
                    url: '/Home/delete/',
                    data: JSON.stringify(deletes),
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        $('#row_' + id).hide();
                    }
                });
            }
        }
        return false;
    }

</script>*@