@model familymember.Models.tbl_member

@{
    ViewBag.Title = "memberdetails";
}

<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-body box-detail">
                    <p class="file-title"><strong>Member Details </strong></p>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <dl class="dl-horizontal">                            

                                <dt>
                                    FIRSTNAME :
                                </dt>
                                <dl>
                                    @if (Model.FIRSTNAME == null)
                                    {
                                        <span>-</span>
                                    }    @Html.DisplayFor(model => model.FIRSTNAME)
                                </dl>

                                <dt>
                                    SURNAME : 
                                </dt>
                                <dl>
                                    @if (Model.SURNAME == null)
                                    {
                                        <span>-</span>
                                    }
                                    @Html.DisplayFor(model => model.SURNAME)
                                </dl>


                                <dt>
                                    EMAIL :
                                </dt>

                                <dl>
                                    @if (Model.EMAIL == null)
                                    {
                                        <span>-</span>
                                    }
                                    @Html.DisplayFor(model => model.EMAIL)
                                </dl>


                                <dt>
                                    MOBILE1 :
                                </dt>

                                <dl>
                                    @if (Model.MOBILE1 == null)
                                    {
                                        <span>-</span>
                                    }
                                    @Html.DisplayFor(model => model.MOBILE1)
                                </dl>

                                <dt>
                                    MOBILE2 :
                                </dt>

                                <dl>
                                    @if (Model.MOBILE2 == null)
                                    {
                                        <span>-</span>
                                    }
                                    @Html.DisplayFor(model => model.MOBILE2)
                                </dl>

                                <dt>
                                    Relation :
                                </dt>

                                <dl>
                                    @if (Model.RELATIONSHIP == null)
                                    {
                                        <span>-</span>
                                    }
                                    @Html.DisplayFor(model => model.tbl_relationship    .RELATIONSHIP)
                                </dl>

                                <dt>
                                    DOB :
                                </dt>

                                <dl>
                                    @if (Model.DOB == null)
                                    {
                                        <span>-</span>
                                    }

                                    @Html.DisplayFor(model => model.DOB)
                                </dl>

                                <dt>
                                    IMAGE :
                                </dt>

                                <dl>
                                    @if (Model.IMAGE == null)
                                    {
                                        <span>-</span>
                                    }

                                    @*@Html.DisplayFor(model => model.IMAGE)*@
                                    <input type="image" src="~/images/@Model.IMAGE" height="150px" width="150px" />
                                </dl>

                                <dt>
                                    BLOODGROUP :
                                </dt>

                                <dl>
                                    @if (Model.BLOODGROUP == null)
                                    {
                                        <span>-</span>
                                    }

                                    @Html.DisplayFor(model => model.BLOODGROUP)
                                </dl>

                                <dt>
                                    EDUCATION :
                                </dt>

                                <dl>
                                    @if (Model.EDUCATION == null)
                                    {
                                        <span>-</span>
                                    }

                                    @Html.DisplayFor(model => model.EDUCATION)
                                </dl>


                                <dt>
                                    Created Date:
                                </dt>

                                <dl>
                                    @if (Model.CREATED_DATE == null)
                                    {
                                        <span>-</span>
                                    }

                                    @Html.DisplayFor(model => model.CREATED_DATE)
                                </dl>

                                <dt>
                                    Modified Date:
                                </dt>

                                <dl>
                                    @if (Model.MODIFIED_DATE == null)
                                    {
                                        <span>-</span>
                                    }

                                    @Html.DisplayFor(model => model.MODIFIED_DATE)
                                </dl>

                            </dl>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>